<!DOCTYPE web-app PUBLIC
        "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
        "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>

  <display-name>servlet-basic-dir</display-name>

  <!-- Start of Servlet declaration -->
  <servlet>
    <servlet-name>Welcome</servlet-name>
    <servlet-class>Welcome</servlet-class>
  </servlet>

  <servlet>
  <servlet-name>ServEx_2</servlet-name>
    <servlet-class>ServEx_2</servlet-class>
  </servlet>

  <servlet>
  <servlet-name>ServEx_2_Handler</servlet-name>
    <servlet-class>ServEx_2_Handler</servlet-class>
  </servlet>


  <servlet>
  <servlet-name>ServEx_3</servlet-name>
    <servlet-class>ServEx_3</servlet-class>
  </servlet>

  <servlet>
  <servlet-name>ServEx_4</servlet-name>
    <servlet-class>ServEx_4</servlet-class>
  </servlet>

  <servlet>
  <servlet-name>ServEx_4_Handler</servlet-name>
    <servlet-class>ServEx_4_Handler</servlet-class>
  </servlet>

  <servlet>
  <servlet-name>ServEx_5</servlet-name>
    <servlet-class>ServEx_5</servlet-class>
  </servlet>

  <servlet>
  <servlet-name>ServEx_6</servlet-name>
    <servlet-class>ServEx_6</servlet-class>
  </servlet>

  <servlet>
  <servlet-name>ServEx_6_Handler</servlet-name>
    <servlet-class>ServEx_6_Handler</servlet-class>
  </servlet>

  <servlet>
  <servlet-name>ServEx_7</servlet-name>
    <servlet-class>ServEx_7</servlet-class>
  </servlet>

  <servlet>
  <servlet-name>ServEx_8</servlet-name>
    <servlet-class>ServEx_8</servlet-class>
  </servlet>

  <servlet>
  <servlet-name>ServEx_8_redirect</servlet-name>
    <servlet-class>ServEx_8_redirect</servlet-class>
  </servlet>

  <servlet>
  <servlet-name>ServEx_9</servlet-name>
    <servlet-class>ServEx_9</servlet-class>
  </servlet>

  <servlet>
  <servlet-name>ServEx_9_handleReq</servlet-name>
    <servlet-class>ServEx_9_handleReq</servlet-class>
  </servlet>

  <servlet>
  <servlet-name>ServEx_10</servlet-name>
    <servlet-class>ServEx_10</servlet-class>
  </servlet>

  <error-page>
    <error-code>404</error-code>
    <location>/errorDescriptor.jsp</location>
  </error-page>

  <servlet>
  <servlet-name>Servlet_Exc_prod</servlet-name>
    <servlet-class>Servlet_Exc_prod</servlet-class>
  </servlet>

  <servlet>
  <servlet-name>Servlet_Exc_Handler</servlet-name>
    <servlet-class>Servlet_Exc_Handler</servlet-class>
  </servlet>

  <servlet>
  <servlet-name>Servlet_Exc_Logger</servlet-name>
    <servlet-class>Servlet_Exc_Logger</servlet-class>
  </servlet>

  <servlet>
  <servlet-name>ServEx_11</servlet-name>
    <servlet-class>ServEx_11</servlet-class>
  </servlet>

  <servlet>
  <servlet-name>ServEx_12</servlet-name>
    <servlet-class>ServEx_12</servlet-class>
  </servlet>

  <servlet>
  <servlet-name>ServEx_12_tracker</servlet-name>
    <servlet-class>ServEx_12_tracker</servlet-class>
  </servlet>

  <servlet>
  <servlet-name>ServEx_13</servlet-name>
    <servlet-class>ServEx_13</servlet-class>
  </servlet>

  <servlet>
  <servlet-name>ServEx_13_tracker</servlet-name>
    <servlet-class>ServEx_13_tracker</servlet-class>
  </servlet>
  <!-- Start of mapping -->
  <servlet-mapping>
    <servlet-name>Welcome</servlet-name>
    <url-pattern>/welcome</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>ServEx_2</servlet-name>
    <url-pattern>/servEx_2</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>ServEx_2_Handler</servlet-name>
    <url-pattern>/servEx_2/handling-form</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>ServEx_3</servlet-name>
    <url-pattern>/servEx_3</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>ServEx_4</servlet-name>
    <url-pattern>/servEx_4</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>ServEx_4_Handler</servlet-name>
    <url-pattern>/servEx_4/handling-form</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>ServEx_5</servlet-name>
    <url-pattern>/servEx_5</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>ServEx_6</servlet-name>
    <url-pattern>/servEx_6</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>ServEx_6_Handler</servlet-name>
    <url-pattern>/servEx_6/handling-form</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>ServEx_7</servlet-name>
    <url-pattern>/servEx_7</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>ServEx_8</servlet-name>
    <url-pattern>/servEx_8</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>ServEx_8_redirect</servlet-name>
    <url-pattern>/servEx_8_redirect</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>ServEx_9</servlet-name>
    <url-pattern>/servEx_9</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>ServEx_9_handleReq</servlet-name>
    <url-pattern>/servEx_9_handleReq</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>ServEx_10</servlet-name>
    <url-pattern>/servEx_10</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>Servlet_Exc_prod</servlet-name>
    <url-pattern>/servlet_Exc_prod</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>Servlet_Exc_Handler</servlet-name>
    <url-pattern>/servlet_Exc_Handler</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>Servlet_Exc_Logger</servlet-name>
    <url-pattern>/servlet_Exc_Logger</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>ServEx_11</servlet-name>
    <url-pattern>/servEx_11</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>ServEx_12</servlet-name>
    <url-pattern>/servEx_12</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>ServEx_12_tracker</servlet-name>
    <url-pattern>/servEx_12_tracker</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>ServEx_13</servlet-name>
    <url-pattern>/servEx_13</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>ServEx_13_tracker</servlet-name>
    <url-pattern>/servEx_13_tracker</url-pattern>
  </servlet-mapping>
</web-app>